/* Resetar a formatação*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

/* Primeiras configurações do header para ajustar o navbar*/
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    width: 100%;
    background: gray;
}

/* configuração do menu responsivo deixando os itens lado a lado*/
.heading ul {
    display: flex;
}

/* Configuração da transicao da logo do navbar*/
.logo a {
    color: rgb(5, 5, 5);
    transition-duration: 1s;
    border-radius: 1px solid red;
    font-weight: 800;
}
.logo a:hover {
    color: rgb(240, 6, 189);
    transition-duration: 1s;
}

/* tirar estilo do menu responsivo*/
.heading ul {
    list-style: none;
}

/* configuraçoes do menu responsivo*/
.heading ul li a {
    margin: 5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
    color: white;
    margin: 2px 14px;
    font-size: 18px;
    transition-duration: 1s;
}

/*cor do link ao clicar na section do menu responsivo*/
.heading ul li a:active {
    color: red;
}

/* cor e duração da transição o passar por cima com o mouse no menu responsivo*/
.heading ul li a:hover {
    color: black;
    transition-duration: 1s;
}

/*movimentação e  cor do before(a barra que aparece em baixo da palavra) no menu responsivo*/
.heading ul li a::before {
    content:'';
    height: 2px;
    width: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    transition-duration: 1s;
}
.heading ul li a:hover::before {
    width: 100%;
    transition-duration: 1s;
    color: rgb(218, 125, 156);
}

/* ajustes de tamanho do search ou caixa de pesquisa*/
#input {
    height: 30px;
    width: 300px;
    text-decoration: none;
    border: 0px;
    padding: 5px;
}

/*tamanho e cor da logo*/
.logo a {
    color: white;
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
}

/*configuraçoes do botão menu hamburguer*/
ion-icon {
    width: 30px;
    height: 30px;
    background-color: rgb(197, 6, 124);
    color: white;
}
ion-icon:hover {
    cursor: pointer;
}
/*posicionamento do search*/
.search a {
    display: flex;
}

/*posicionamento do icon hamburguer*/
header a ion-icon {
    position: relative;
    right: 2px;
}

/*Configurçoes do título destaques do inicio*/
/**/
.title h1 {
    position: center;
    width: 1080;
    height: 720;
    text-align: center;
    color: black;
}

/*tamanho das imgs do slide*/
.img-slider img {
    width: 1080px;
    height: 720px;
    margin-top: 30px;
}

/*key de slider*/
@keyframes slide {
    0%{
        left: 0px;
    }
    15%{  
        left:0px;  
      }  
      20%{  
        left:-1080px;  
      }  
      32%{  
        left:-1080px;  
      }  
      35%{  
        left:-2160px;  
      }  
      47%{  
        left:-2160px;  
      }  
      50%{  
        left:-3240px;  
      }  
      63%{  
        left:-3240px;  
      }  
      66%{  
        left:-4320px;  
      }  
      79%{  
        left:-4320px;  
      }  
      82%{  
        left:-5400px;  
      }  
      100%{  
        left:0px;  
}}  

/*configurações da movimentação do slide*/
.img-slider {
    display: flex;
    float: left;
    position: relative;
    width: 1080px;
    height: 720px;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/*transparencia do hamburguer menu*/
.heading1 {
    opacity: 0;
}

/*posicionamento do serch*/
.search {
    display: flex;
    position: relative;
}

/*ajustes e configurações da section*/
.section0 {
    max-width: 400px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 50px auto 10px auto;
}

/*ajustes e configurações da section*/
.section1 {
    width: 1080px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 25px auto 10px auto ;
}

.section2 {
    width: 1080px;
    top: 1300px;


.container .img {
    position: ;
    max-width: 35%;
    max-height: auto;
    float: left;
}

.container .info {
    width: 610px;
    height: 312px;
    float: right;
}